:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-primary-blue: #404bbf ;
  --color-white: #ffffff ;
  --color-bg-image: #e7e9fc;
  --color-text-bg: #4d5ae5;
  --color-white-darker: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* main page */

.subtitle {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-tiny {
  color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.title-second {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.text-ourteam-h {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

.text-ourteam-p {
  color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.textlogo {
  font-family: "Releway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-secondary);
  text-decoration: none;
}
.textlogo-footer {
  font-family: "Releway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-white-darker);
  text-decoration: none;
}

.textlogo-one {
  color: var(--color-text-bg);
  text-decoration: none;
}
.header-portfolio {
  color: var(--color-primary-blue);
  font-weight: 500;
  text-decoration: none;
}

.header-adress {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.header-adress:hover {
  color: var(--color-primary-blue);
  font-weight: 500;
  text-decoration: none;
}

.adress {
  color: var(--color-secondary);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}
.adress:hover {
  color: var(--color-primary-blue);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

.main-title {
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

ul {
  list-style-type: none;
}

.main-background {
  background-color: var(--color-primary);
}

.footer-background {
  background-color: var(--color-primary);
}

.main-button {
  color: white;
  background: var(--color-text-bg);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-button:hover {
  background: var(--color-primary-blue);
  cursor: pointer;
}

.text-footer {
  color: var(--color-bg-image);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-portfolio {
  color: var(--color-text-bg);
  background: var(--color-white-darker);
  border: 1px solid var(--color-bg-image);
  border-radius: 4px;
}

.button-portfolio:hover {
  color: var(--color-white);
  background: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.wawd-img {
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2368.jpg);
  border: 1px solid var(--color-bg-image);
  background-blend-mode: soft-light, normal;
  width: 360px;
  height: 300px;
}

.our-team-block {
  width: 264px;
  height: 380px;
  background: var(--color-white);
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 0px;
}

.background-our-team {
  background: var(--color-white-darker);
}

.flex-card {
  margin: 12px;
  width: 264px;
}

.card-foto {
}
/* portfolio */
.heading {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.subtitle-prt {
  color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16;
  line-height: 1.5;
}
.list-all {
  width: 360px;
  height: 420px;
  background: var(--color-white);
  border: 1px solid var(--color-bg-image);
}
.button-portfolio-active{
  color: var(--color-white);
  background: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 4px;
}
.prtf-blocks{ 
  text-decoration: none;
  font-style: normal;
}

